<section id="course-form" class="section pt-18">
    <div class="container">
        <div class="section__helmet">
            <h2 class="section__heading">Can't Find a Course?</h2>
        </div>
        <div>
            {{ post.content }}
        </div>
    </div>
</section>