{% extends "base.twig" %}

{% block content %}

<main id="main" class="main" role="main">

<section id="account" class="section py-18">
    <div class="container">
        <div class="account__wrapper mx-auto">
            {{ post.content }}
        </div>
    </div>
</section>

{% include "partials/mountains.twig" %}

</main>

{% endblock %}