{% extends "base.twig" %}

{% block content %}

<main id="main" class="main" role="main">

<section class="section py-18">
    <div class="container">
        <div class="error__wrapper mx-auto">
            <h1 class="error__heading">404</h1>
            <p class="section__subheading">Whoops! You seem to have stumbled upon a page that doesn't exist. Click <a href="/">here</a> to go back to the Home page.</p>
        </div>
    </div>
</section>

{% include "partial/mountains.twig" %}

</main>

{% endblock %}