{% extends "base.twig" %}

{% block content %}

<main id="main" class="main" role="main">

  <section class="section py-18">
    <div class="container">
      <article class="prose">
        {{ content }}
      </article>
    </div>
  </section>

  {% include "partial/mountains.twig" %}

</main>

{% endblock %}