// ********************
// HELLO BAR
// ********************

#hello {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  display: grid;
  place-items: center;
  padding: 2.5rem;
  width: 100vw;
  background-color: $cello;
  overflow: hidden;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    padding: 1.25rem 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 8rem;
    width: 8rem;
    background-image: url("static/img/clipboard-list.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translate(0, -50%) rotate(5deg);
    opacity: 0.2;
  }
}

.hello__container {
  @extend .container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.hello__left {
  margin-bottom: map-get($spacing, "600");
  text-align: center;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    margin-bottom: unset;
    text-align: start;
  }
}

.hello__heading {
  font-weight: 700;
  color: $white;
}

.hello__subheading {
  font-size: 1rem;
  line-height: 1.5rem;
  color: map-get($slate, "400");
}

// ********************
// QUIZ FORM
// ********************

#_form_9_ {
  width: 100%;
  box-shadow: unset;
  border-radius: unset;
}

._form-content--hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    flex-direction: row;
  }
}

._field-wrapper--hello > input {
  height: 2.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

._form_element--hello {
  width: 100%;
  margin-bottom: 1.25rem;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    margin-bottom: unset;
    margin-right: 1.25rem;
  }
}

._button-wrapper._full_width {
  width: 100%;
}

._submit--hello {
  @extend .btn;
  @extend .btn--primary;
  width: 100%;
  height: 2.75rem;
  font-size: 1rem;
}

._form-label {
  display: none;
}

.hello__close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: centerl;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1.75rem;
    height: 100%;
  }

  &:hover {
    opacity: 1;
  }
}

.hello__close-icon {
  width: auto;
  height: 1.75rem;
}
